@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;;
}
body {
  background-color: black;
  color: white;
}
.left {
  width: 25%;
  flex-direction: column;
}
.right {
  width: 78%;
  background: #121212;
  /* padding: 20px 10px 8px 25px; */
  margin: 8px 8px 0px 0px;
  border-radius: 8px;
  overflow: hidden;
  overflow-y: scroll;
  height: 98.5vh;
 
}

.home {
  background: #121212;
  padding: 20px 10px 6px 25px;
  margin: 8px 8px;
  border-radius: 8px;
}
.home ul{
   padding: 6px 0px 0px 0px;
}
.home ul li img {
  width: 25px;
  margin: 0px 20px 0px 0px;
}
.home ul li {
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgb(143, 142, 142);

  padding: 10px 0px;
  cursor: pointer;
}
.libarary {
  background: #121212;

  margin: 0px 8px;
  border-radius: 8px;
  height: 76vh;
}
.playlist span img {
  width: 23px;
}
.playlist {
  display: flex;
  text-align: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 20px 10px 20px 25px;
}
.playlist h2 span img {
  margin: 0px 18px 0px 0px;
}
.playlist h2 {
  font-size: 20px;
  display: flex;
  color: rgb(143, 142, 142);
}
.playlist .span1 img {
  width: 14px;
  align-items: center;
  cursor: pointer;
}
.playlist .span1 {
  margin-top: -5px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}
.playlist .span1:hover {
  background-color: #262626;
}
.footer {
  padding: 10px 10px 0px 25px;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  margin-top: 30px;
}
.footer ul li {
  padding: 0px 24px 10px 0px;
  letter-spacing: -0.1px;
  color: #686767;
}
.e1 {
  height: 30%;
  padding:  0px 10px;
  overflow: hidden;
  overflow-y: scroll;
}
.e2 {
  border-radius: 8px;
  background-color: #2e2b2b;
  padding: 15px 20px;
  margin: 0px;
}
.e2 h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 0px 0px 14px 0px;
}
.e2 p {
  font-size: 16px;
  margin: 0px 0px 14px 0px;
  font-weight: 700;
}
.e1 button {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid;
  cursor: pointer;
  font-weight: 600;
}
.e3 {
  border-radius: 8px;
  background-color: #2e2b2b;
  padding: 15px 20px;
  margin: 15px 0px;
  gap: 10px;
}
.e3 h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 0px 0px 14px 0px;
  padding: 0px 10px;
}
.e3 p {
  font-size: 18px;
  margin: 0px 0px 14px 0px;
  font-weight: 700;
  padding: 0px 10px;
}
.btn {
  display: flex;
  margin: 20px 20px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  /* align-items: center; */
  cursor: pointer;
}
.btn span img {
  width: 20px;
  text-align: center;
  align-items: center;
  margin: 0px 10px 0px 0px;
}
.navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px 8px 0px 0px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0%;
  left: 0%;
}
.btn1 {
  /* background-color: rgba(0, 0, 0, .5); */
  margin: 8px 20px;
  cursor: pointer;
}
.btn1 button {
  border: none;
  /* padding: 5px; */
  /* border-radius: 50px; */
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  margin: 0px 3px;
}
.btn1 button img {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.btn2 {
  margin: 8px 33px;
}
.b1 {
  cursor: pointer;
  padding: 13px 30px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: rgb(143, 142, 142);
  font-weight: 600;
}
.b2 {
  cursor: pointer;
  padding: 13px 33px;
  border-radius: 60px;
  background-color: white;
  border: none;
  font-size: 18px;
  color: black;
  font-weight: 600;
}
.li1:hover {
  text-decoration: underline;
}
.b1:hover {
  color: white;
}
.b2:hover {
  font-weight: 700;
  padding: 13px 38px;
}

    .pop-text {
        padding: 56px 15px 12px 22px;
        font-size: 37px;
    }

.artist-items {
  /* background-color: #262626; */
  width: 16%;
margin:  20px 3px 5px 4px;
  border-radius: 8px;
  cursor: pointer;
}
.artist-items:hover{
    background-color: #262626;
}
.artist-image{
    display: flex;
    justify-content: center;
}
.artist-image img {
  width: 175px;
  height: 200px;
  border-radius: 50%;
  padding: 10px 0px;
  border: none;
}
.artist-name{
 padding: 0px 11px 14px;
}
.artist-name h4{
    font-size: 19px;
    font-weight: 600;
}
.artist-name p{
    color: rgb(143, 142, 142) ;
    font-weight: 600;
    padding: 5px 0px ;
    font-size: 16px;
}
.artist{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;


}