.flex{
    display: flex;
}
.content{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.border{
    border: 2px solid red;
}
.invert{
    filter: invert(1);
}
.li1{
         color: rgb(143, 142, 142);
}